html {
    scroll-behavior: smooth;
}
body {
    font-family: 'lato', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color:#333333;
    transition: 0.3s;   
}
body.escuro {
    background-color: #0b0e14;
    color: #ffffff;
}
header {
    display: flex; 
    justify-content: space-between; /* logo para a esquerda e o menu a direita*/
    align-items: center;
    height: 125px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    padding: 0 30px;
    box-sizing: border-box;
    position: sticky; /* deixa o cabeçario fixo*/
    top: 0;
    z-index: 1000;
}
header img {
    height: 125px;
    width: auto;
}
header nav {
    float: right;
    margin-top: 30px;
}
header nav a {
    text-decoration: none;
    color: #ccc;
    margin: 15px;
}
header nav a:hover {
    color: #333;
}

/*imagem da logo grande*/
.destaque-central { 
    display: flex;/*ativar o alianhamento de txt flexivel*/
    justify-content: center; /*centraliza na horizontal*/
    align-items: center; /*centraliza na vertical*/
    min-height: 80vh; /*define a altura de seção*/
    flex-direction: column; /*faz obotão ficar embaixo da img*/
    gap: 20px; /*espaço entre a img e o botao*/
}
.logo-grande { /*largura da img*/
    width: 400px;
    height: auto; /*altura*/
    display: block; /*faz se comportar como um bloco*/
}
.btn-jogar {
    background-color: #6a49a8; /*cor do fundo*/
    color: white; /*cor da letra*/
    padding: 15px 40px; /*espaço interno*/
    border: none; /*remove a borda padrao do navegador*/
    border-radius: 8px; /*arredonda os cantos do botao*/
    font-size: 20px; /*aumenta o tamanho da letra*/
    cursor: pointer; /*muda o desenho do mause para a maozinha ao passar encima*/
    transition: 0.3s; /*transição*/
    margin-top: 10px; /*cria uma margem externa no topo*/
}
.historia-jogo {
    text-align: center;
    padding: 60px 20px;
    font-size: 23px;
    line-height: 1.8;
    background-color: rgba(255, 255, 255, 0.3);
}

.historia-jogo h2 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #1a2a6c;
}

.btn-jogar:hover {
    background-color: #3a4685; /*cor de fundo*/
    transform: scale(1.1); /*efeito de zoom*/
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /*aumenta a sombra*/
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.material-symbols-outlined {
    cursor: pointer; /*maozinha*/
    font-size: 30px; /*tamanho do icone*/
    user-select: none; /*impede que use o txt*/
    transition: 0.3s; 
}
.como-jogar h2 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 28px;
    text-transform: uppercase;
}
.controles-container {
    display: flex; /*modo flexivel*/
    justify-content: center; /*centraliza*/
    gap: 80px; /*espaço entre os blocos*/
    margin-top: 30px;
}
.como-jogar .controles-container i {
    font-size: 100px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}
figcaption {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #444;
}
.controle-bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape {
    text-align: center;
    background-color: #111;
    color: white;
    padding: 40px 0;
    font-family: 'lato' sans-serif;
}
.sociais a {
    font-size: 35px;
    margin: 0 15px;
    transition: 0.3s;
    display: inline-block;
    color: #ffffff;
}
.sociais a:hover i {
    opacity: 0.7;
    transform: translateY(-3px);
}
.tema-container {
    cursor: pointer;
    display: flex;
    align-items: center;
}
body.modo-escuro {
    background-color: #121212;
    color: #e0e0e0;
}
body.modo-escuro nav a {
    color: #00d4ff;
}
body.modo-escuro section {
    background-color: #121212;
    border: 1px solid #333;
}
body.modo-escuro header {
    background-color: #121212;
    border-bottom: 1px solid #333;
}
body.modo-escuro .controles-container i {
    color:#ffffff !important;
}body.modo-escuro .rodape {
    background-attachment: #000000;
    border-top: 1px solid #333;
}